@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.container-geral {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(100vh, auto) minmax(100vh, auto) minmax(100vh, auto) minmax(100vh, auto) auto;
  grid-template-areas: 
  "principal-container"
  "sobre"
  "portfolio"
  "contato"
  "footer";
}

/* Principal */

.principal-container {
  grid-area: principal-container;
  background-color: rgb(32, 32, 32);
}

/* Nav */

.cena {
  position: fixed;
  z-index: 1;
}

.cena2 {
  position: fixed;
  z-index: 2;
}

#menu{
  width: 50px;
  height: 30px;
  margin: 25px 25px 0px 20px;
  cursor: pointer;
  z-index: 10;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: rgb(111, 0, 255);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-5px);
}

#bar3 {
  transform: translateY(5px);
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.nav li a:hover {
  border-bottom: 3px solid #fff;
  width: 100%;
  transition: 0.2s all;
}

.nav li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.nav {
  padding: 0;
  margin: 10px 15px 0 15px;
  transition: 0.3s ease;
  display: none;
}

/* Background nav */

.menu-bg, #menu-bar {
  top: 0;
  right: 0;
  position: fixed;
}

.menu-bg {
  z-index: 8;
  width: 0;
  height: 0;
  margin: 20px 26px 0px 20px;
  background: radial-gradient(circle, rgb(111, 0, 255), rgb(111, 0, 255));
  border-radius: 50%;
  transition: 0.3s ease;
}

#menu-bar{
  z-index: 9;
  position: fixed;
}

/* Background nav - onclick */

.change-bg {
  width: 400px;
  height: 400px;
  transform: translate(74%, -27%);
  z-index: 8;
  position: fixed;
}

/* Barras nav - onclick*/

.change .bar {
  background-color: rgb(255, 255, 255);
}

.change #bar1 {
  transform: translateY(11px) rotateZ(-47deg);
  width: 53px;
}

.change #bar3 {
  transform: translate(-1px) rotateZ(48deg);
  width: 53px;
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

/* Introdução */

.initial {
  position: relative;
}

.text-initial {
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}

.text-initial h1 {
  font-size: 2.75em;
  border-bottom: 3px solid rgb(111, 0, 255);
  display: inline;
}

.text-initial p {
  margin-top: 20px;
  color: rgb(189, 189, 189);
}

.fundo {
  position: absolute;
  bottom: 5px;
  z-index: 3;
}

.fundo ul {
  display: flex;
}

.fundo li {
  margin: 0 5px;
}

.fundo ul a img {
  width: 30px;
  opacity: 50%;
}

.scrolldown {
  position: absolute;
  bottom: 15px;
  left: 49.2%;
  animation: MoveUpDown 1.8s linear infinite;
  color: rgb(111, 0, 255);
}

.scrolldown i {
  animation: MoveUpDown 0.3s ease-in-out forwards;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 10px;
  }
  50% {
    bottom: 25px;
  }
}

/* Sobre */

.sobre {
  grid-area: sobre;
  z-index: 3;
  background-color: #fff; 
}

.sobre-subtitulo {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 ;
}

.sobre-subtitulo h2 {
  display: inline-block;
  border-bottom: 3px solid rgb(111, 0, 255);
  font-size: 2.25rem;
}

.sobre-imagem {
  padding: 0px 0 0px 0;
  text-align: center;
}

.sobre-imagem img {
  border: 3px solid rgb(111, 0, 255);
  border-radius: 50%;
  width: 190px;
}

.sobre-texto {
  max-width: 40%;
  margin: 0px auto 50px auto;
}

.sobre-texto p {
  padding-top: 30px;
  text-align: center;
  font-size: 1.15rem;
}

.sobre-texto h3 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.75rem;
}

/* Portfólio*/

.portfolio {
  grid-area: portfolio;
  background-color: rgb(32, 32, 32);
  z-index: 3;
}

.portfolio-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.portfolio .container {
  padding-top: 30px;
}

.container img {
  padding: 30px;
}

.container p {
  color: #fff;
  text-align: center;
  padding: 0 10px 40px 10px;
  font-size: 1.75rem;
}

.portfolio-subtitulo {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.portfolio-subtitulo h2 {
  display: inline-block;
  border-bottom: 3px solid rgb(111, 0, 255);
  font-size: 2.25rem;
  color: #fff;
}

/* Contato */

.contato {
  grid-area: contato;
  text-align: center;
  padding-top: 60px;
  z-index: 2;
}

.contato h2 {
  display: inline-block;
  border-bottom: 3px solid rgb(111, 0, 255);
  font-size: 2.25rem;
}

.contatos {
  margin-top: 60px;
  font-size: 1.75rem;
}

.contatos img {
  padding: 30px;
}










/* Footer */


.footer {
  grid-area: footer;
  background-color: rgb(32, 32, 32);
}

.footer p {
  text-align: center;
  color: #fff;
  padding: 30px;
  font-size: 1.25rem;
}

